<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-2">
            <small class="d-block mb-3 text-muted">© 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="fa-font-awesome">Индивидуальный предприниматель Кравцевич Е.В.</h5>
            <ul class="list-unstyled text-small">
                <li><a>УНП 591195504</a></li>
            </ul>

        </div>
        <div class="col-6 col-md">
            <h5 class="fa-font-awesome">Торговая точка</h5>
            <ul class="list-unstyled text-small">
                <li><a>г.Гродно, ул.Горького 55, павильон "САНТЕХНИКА" №4</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="fa-font-awesome">Телефон</h5>
            <ul class="list-unstyled text-small">
                <li><a>+375298828828 (МТС)</a></li>
            </ul>
        </div>
    </div>
</footer>